@model EligoCustomerPortal.Data.Models.Address

<p>
    @Html.DisplayFor(model => model.StreetAddress)<br />
    @Html.DisplayFor(model => model.City), @Html.DisplayFor(model => model.State) @Html.DisplayFor(model => model.PostalCode)
</p>