@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the Eligo Customer Portal!</h1>
    <p>Please log in with your customer number to continue.</p>

    <partial name="_FakeLoginForm" model="new FakeLoginViewModel()" />
</div>
